// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table {
    border-radius: 2px;
}

body {
    background-color: #131200;
    color: #F8F4E3;
    overflow-X: hidden;
}

h1{
    font-size: 5em;
    text-align: center;
    margin: 5%;
    color: #F46036;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #CBC9DB;
}

table {
    margin: 0 20% 0;
}
// tr:nth-child(even) {background-color: #1E2019;}

.even {
    background-color: #484A47;
}

.odd {
    background-color: #2A2B2A;
}

.search {
    // width: 100%;
    text-align: center;
    margin: 50px;
}

footer{
    text-align: center;
    margin-top: 50px;
    float: bottom;
}